.quietLabel {
  margin: 0;
  font-family: var(--sys-text-family-serif);
  font-style: italic;
  font-weight: 500;
  font-size: var(--sys-text-size-label);
  letter-spacing: -0.2px;
  line-height: 1.1;
  color: var(--sys-color-text-primary);
  opacity: 0.5;
}