.wrapper {
    display: flex;
    padding: 1rem 0.5rem;
}

.button {

    border-radius: 12px;
    background-color: rgb(176, 176, 176);
    color: #fff;
    width: fit-content;
    padding: 3px 8px;
    font-size: 0.8rem;
    margin-left: auto;
}