@import '@/shared/assets/style/mixin.scss';

$header-height: 50px;

.header {
    position: relative;
    position: sticky;
    top: 0;
    z-index: 11;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 0;
    min-height: $header-height;
    width: 100%;
    padding-right: 0.5rem;

    display: flex;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('@/shared/assets/decarative/bag3.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: $header-height;
        opacity: 0.08;
        pointer-events: none;
        z-index: -1;
    }
}

.largeSearchInput {
    font-size: 1.6rem !important;
    flex-grow: 1;
    width: 100%;
}

