.quickButton {
    background: #f1f1f1;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.2s ease, border-radius 0.2s ease;

    &:hover {
        background: #e0e0e0;
    }
}

.activeButton {
    background: #007bff;
    color: white;
    // font-weight: 600;

    // border-radius: 1000px;

    &:hover {
        background: #007bff;
    }
}