@import '@/assets/style/mixin.scss';

$border-width: 3px;

.item {
    display: flex;
    position: relative;
    flex: 1 0;

    &:after {
        transition: transform 1s ease-out, opacity 1s ease-in-out;
        content: '';
        position: absolute;
        inset: 0;
        border-bottom: $border-width solid var(--color-blue-2);
        border-top: $border-width solid var(--color-blue-2);
        border-bottom-style: groove;
        border-top-style: double;
        height: calc(100% - $border-width * 2);
        width: calc(100%);
        z-index: -1;
        opacity: 1;
        transform: translateX(150%);
        pointer-events: none;
    }

    .innerListItem {
        z-index: 2;

        // border: $border-width solid transparent;
        border-radius: 32px;
        flex: 1 0;
    }

    .selectButton {
        z-index: 1;

        display: flex;
        width: 50px;
        flex-shrink: 0;
        background-color: rgb(237 237 237);
        position: relative;
        border-radius: 32px;
        border: 2px solid transparent;
    }

    .selectButton,
    .innerListItem {
        transition: border-color 0.5s ease-in-out;
    }

    &.selected {
        &:after {
            transform: translateX(-50%);
            opacity: 0;
            z-index: 0;
        }

        .selectButton {
            background-color: rgb(255, 255, 255);
            // border-color: blue;

            &:after {
                pointer-events: none;
                inset: 0;
                content: '';
                position: absolute;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>');
                background-size: 23px;
                background-repeat: no-repeat;
                background-position: center;
                font-size: 2rem;
            }
        }
    }
}