.ScreenLabel {
    // pointer-events: none;
    z-index: 1;
    font-weight: 900;
    font-size: 50px;
    line-height: 1;
    opacity: 0.03;
    letter-spacing: -3px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;

    &--screenHeader {
        font-size: 65px;
        letter-spacing: -3px;
        opacity: 1;
        color: #d0d0d06b;
    }

    &--drawer {
        font-size: 30px;
        letter-spacing: -3px;
        padding-left: 10px;
    }

    &--formValueLabel {
        font-size: 100px;
    }

    &--nutrients {
        font-size: 20px;
        letter-spacing: 0;
        padding-right: 0.5rem;
    }
}

.decorative {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}