.quantityControl {

    /* display: grid;
    grid-template-columns: auto 2fr 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px; */

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quantityControlHeader {
    display: flex;
    gap: 9px;
    align-items: flex-start;
}

.quantityControlSlider {
    width: 90%;
}