.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animate::after {
    content: "";
    width: 8px;
    height: 8px;
    background: radial-gradient(circle, #4a90e2 0%, #4a90e2 70%, #a4ffdf 100%);
    border-radius: 50%;
    will-change: transform, opacity;
    animation: floatY 1.8s ease-in-out infinite;
    animation-delay: 0.5s;
}

@keyframes floatY {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(-6px) scale(1.1);
        /* fake “highlight” instead of color */
        opacity: 0.8;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}