.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label {
    font-size: 12px;
    color: var(--text-secondary);
}

.inputs {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input {
    width: 60px;
}

.separator {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-secondary);
}