.container {
    // padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.groupTitle {
    font-size: 14px;
    font-weight: 300;
    color: #444;
    font-style: italic;
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.groupContent {
    display: flex;
    flex-direction: column;
    gap: 6px;
}