.product {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;

    &:not(.active)&:hover {
        color: var(--color-green);
    }

    &:last-child {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

}

.active {
    background-color: var(--color-light-green);

    &:hover {
        color: var(--color-green);
        /* background-color: var(--color-light-green-2); */

    }
}