.quantityUnit {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-purple);
    opacity: 0.7;
}

.backgroundImage {
    position: absolute;
    top: 40%;
    right: -10%;
    height: 50%;
    width: auto;
    pointer-events: none;
    user-select: none;
    z-index: 0;
}