.container {
    display: flex;
    position: relative;
    padding: 0.5rem 0;

    &::before {
        content: attr(data-text);
        text-transform: uppercase;
        text-align: center;
        color: rgba(0, 0, 0, 0.04);
        font-weight: 900;
        font-size: 66px;
        line-height: 1;
        letter-spacing: -3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        pointer-events: none;
        user-select: none;
    }
}

.elegant {
    &::before {
        text-transform: capitalize;
        font-family: "Great Vibes", cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        letter-spacing: -1px;
        color: rgba(0, 0, 0, 0.08);
    }
}