.group {
    display: grid;
    grid-template-columns: 6ch 1fr 5ch;
    gap: 10px;
    position: relative;
}

.variant {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 70%);

    font-size: 11px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.39);
}

.customTitle {
    color: rgba(0, 0, 0, 0.586);
    font-weight: 400;
    font-style: italic;
}

.dishTitle {
    color: #000;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.foodTitle {
    color: #000;
    font-weight: 400;
}