.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    // padding: 0 8px 0;
    margin-bottom: 10px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: black;
}