.viewport {
    overflow: hidden;
    width: 100%;
    // user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
    backface-visibility: hidden;
    will-change: transform;
}

.slide {
    flex: 0 0 100%;
    min-width: 0;
    height: 100%;
    // overflow: hidden;

    &>* {
        height: 100%;
    }
}

.slideWithScroll {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 1rem 0;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: black;
}

.wrapper {
    height: 100%;
    display: flex;
}