.container {
    height: 80px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000018;
    border-radius: 1000px;
    box-shadow: none;
}