.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; // full screen height
    width: 80%; // covers 80% of screen
    max-width: fit-content;
    background: #0a1a3d; // dark blue
    border-top-right-radius: 1.5rem; // rounded corner
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    z-index: 101;
    padding: 1rem;
    color: white;

    display: flex;
    flex-direction: column;
}

.closeBtn {
    background: transparent;
    border: none;
    color: white;
    margin-bottom: 1rem;
    cursor: pointer;
    align-self: flex-start;

    &:hover {
        opacity: 0.8;
    }
}

.content {
    flex: 1;
    overflow-y: auto;
    padding-top: 1rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.link {
    font-size: 2rem;
    color: #fff;
    font-weight: 200;
}