.container {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    padding: var(--space-4) var(--space-2);
    position: relative;
}

.group {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.groupContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-2);
    width: 100%;
}

.groupTitle {
    font-family: var(--font-sans);
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    padding: 0 var(--space-1);
}

.groupTitleBold {
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

.group--main .groupTitleBold {
    color: var(--nutrient-accent-main);
    text-align: right;

}

.group--vitaminsB .groupTitleBold {
    color: var(--nutrient-accent-vitaminsB);
    font-size: 1.5rem;
}

.group--minerals .groupTitleBold {
    color: var(--nutrient-accent-minerals);
}

.group--rest .groupTitleBold {
    color: var(--nutrient-accent-rest);
}