.nutrientsListContainer {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
}

.nutrient {
    display: grid;
    grid-template-columns: 160px 1fr 75px;
    border-bottom: 1px solid rgb(225, 225, 225);
    /* border-top: 1px solid rgb(225, 225, 225); */
    position: relative;
    padding: 3px 0 3px 2px;

    /* transition: border-color 0.1s; */

    &:hover {
        border-color: var(--color-green);
    }
}

.nutrientSelected {
    &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        background-color: var(--color-green);
    }

    &:before {
        content: '';
        position: absolute;
        height: 6px;
        width: 6px;
        /* border: 5px solid var(--color-green); */
        padding: 2px;
        border-radius: 50%;
        bottom: 50%;
        transform: translateY(50%);
        left: -13px;
        background-color: var(--color-green);
        background: url('../../../../assets/icons/tick.svg') center no-repeat;
    }
}

.nutrientsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 7px; */
}


.twoColumns {
    grid-template-columns: 160px 1fr
}

.offset {
    padding-left: 20px;
}

.offset:before {
    position: absolute;
    content: '';
    height: 1px;
    background-color: gray;
    width: 12px;
    top: 50%;
    left: 0;

}

.cell {
    display: flex;
    align-items: center;
    gap: 5px;
}