.nutrientsListContainer {
    /* display: flex; */
    /* flex-wrap: wrap; */
    gap: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nutrient {
    display: grid;
    grid-template-columns: 90px 70px 1fr;
    border-bottom: 1px solid transparent;
    /* border-top: 1px solid rgb(225, 225, 225); */
    position: relative;
    padding: 4px 0 4px 2px;
    z-index: 1;

    &:last-child {
        border-bottom: none;
    }

    /* transition: border-color 0.1s; */
}

.nutrientSelected {
    &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        background-color: var(--color-green);
    }

    &:before {
        content: '';
        position: absolute;
        height: 6px;
        width: 6px;
        /* border: 5px solid var(--color-green); */
        padding: 2px;
        border-radius: 50%;
        bottom: 50%;
        transform: translateY(50%);
        left: -13px;
        background-color: var(--color-green);
        background: url('../../../../assets/icons/tick.svg') center no-repeat;
    }
}

.nutrientsList {
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    padding: 4px;
    border: 1px solid transparent;
    background-color: white;
    height: fit-content;
    /* flex-grow: 0;
    flex-shrink: 1; */
    /* flex-wrap: wrap; */
    /* gap: 7px; */
}


.twoColumns {
    grid-template-columns: 160px 1fr
}

.offset {
    padding-left: 20px;
}

.offset:before {
    position: absolute;
    content: '';
    height: 1px;
    background-color: gray;
    width: 12px;
    top: 50%;
    left: 0;

}

.cell {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main {
    border-color: rgba(0, 0, 255, 0.24);

    .nutrient {
        border-color: rgba(0, 0, 255, 0.08);
    }
}

.vitaminsB {
    border-color: rgba(255, 85, 0, 0.35);

    .nutrient {
        border-color: rgba(255, 85, 0, 0.1);
    }
}

.vitaminsRest {
    border-color: rgba(253, 164, 0, 0.35);

    .nutrient {
        border-color: rgba(253, 164, 0, 0.5);
    }
}

.minerals {
    border-color: rgba(110, 88, 255, 0.35);

    .nutrient {
        border-color: rgba(110, 88, 255, 0.15);
    }
}

.misc {
    border-color: rgba(0, 0, 255, 0.24);

    .nutrient {
        border-color: rgba(0, 0, 255, 0.1);
    }
}