.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 1rem 0.5rem;
}

.header {
  margin-bottom: 2rem;
}

.content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
}