.container {
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: translateX(0);
    opacity: 1;
    display: inline-flex;
}

.hide {
    transform: translateX(-30px); // slide left
    opacity: 0; // fade out
    pointer-events: none; // prevent interaction while hidden
}

.unit {
    opacity: 0.15;
    margin-left: 3px;
}