.container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    // padding: 0 0.5rem;
}

.toggleButton {
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: inherit;
    color: #8698ff;
}

.image {
    opacity: 0.1;
    border-radius: 20px;
    position: absolute;
    top: 0;
}


.selectTime {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}

.hours,
.minutes {

    &Item {
        font-size: 1rem;
        position: relative;
        padding: 10px;
        border: 1px solid #c7c7c7;
        border-radius: 1000px;

        &:active {
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: rgba(47, 0, 0, 0.123);
            }
        }

        &_active {

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
        }
    }



}




.timePicker {
    display: grid;
    grid-template-columns: 80px 1fr;
    background-color: white;
    gap: 2rem;
}

.values {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &Row {
        display: flex;
        gap: 1rem;
    }


    .minutes {
        position: relative;

        &Inner {
            border: 1px solid #d8d8d818;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
            padding: 0 0.5rem 1rem;

            position: sticky;
            left: 0;
            top: 0;
            gap: 1rem;
            display: flex;
            flex-direction: column;
        }
    }


    .quickButtons {
        flex-wrap: nowrap;
    }
}

.hours {
    display: flex;
    flex-direction: column;

    &Item {
        &_active {
            &::before {
                background-color: rgba(0, 128, 0, 0.5);
            }
        }
    }

}


// .minutes {
//     display: flex;
//     justify-content: space-between;

//     &Item {
//         &_active {
//             &::before {
//                 background-color: rgba(0, 128, 0, 0.5);
//             }
//         }
//     }

//     &Second{

//     }
// }