.percent {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    /* justify-content: center; */
    text-align: left;
    margin-left: 5px;
    padding: 1px 2px;
    font-size: 15px;
}

.backgroundFill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    /* Behind the text */
    transition: width 0.3s ease;
    /* Smooth transition for updates */
}

.percentSign {
    display: inline-block;
    margin-left: 4px;
    /* margin-left: auto; */
    font-size: 10px;
    color: rgb(30, 30, 30);
}

.valueContainer {
    width: 5ch;
    height: 100%;
    display: flex;
    position: relative;
}