.finishButton {
    color: var(--color-accent);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    // width: 100%;
    flex-grow: 1;
    text-transform: lowercase;
    font-size: 1rem;
    text-align: center;

    &_text {
        color: #007aff;
        font-size: 1.5rem;
        font-weight: 200;
        justify-content: end;


    }

    &_tick {}

}



.iconContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;


    * {
        font-size: 1.2rem;
        // color: white;
        color: black;
    }

    // &:before {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 40px;
    //     height: 40px;
    //     transform: translate(-50%, -50%);
    //     border: 1px solid #363636;

    //     border-radius: 50%;

    // }
}