.dish {
    display: grid;
    grid-template-columns: 5fr 4fr;
    align-items: center;
    position: relative;
    gap: 0 40px;
    padding: 6px 10px 6px 2px;
    cursor: default;
}

.after {}

.dishName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    gap: 15px;

}

.loading {}