.timeNow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.textMinutes {
    // text-decoration: underline;
    position: absolute;
    opacity: 0.3;
    right: 0;
    left: 0;
    transform: translateY(100%);
    bottom: 0;
}