.container {
    display: flex;
    /* gap: 5px; */
    border-radius: 9px;
    overflow: hidden;
}

.choiceButton {
    background-color: #dbdbdb;
    color: #495057;
    /* border: 1px solid #ced4da; */
    padding: 5px 12px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.choiceButton:hover {
    background-color: #e9ecef;
}

.choiceButton:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 4px rgba(128, 189, 255, 0.8);
}

.choiceButton:active {
    /* transform: scale(0.95); */
}

.choiceButton.active {
    background-color: white;
    color: black;
    font-weight: 300;
}