.tabs {
    overflow: hidden;
    position: relative;

    &Row {
        z-index: 1;
        display: grid;
        // border-radius: 20px;
        overflow: hidden;
    }
}

.tabButton {
    z-index: 2;
    font-size: 14px;
    cursor: pointer;
    color: #000000;
    // border-radius: 20px;
    outline: none; // Remove default outline for a cleaner look

    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        border-color: var(--primary-color-light, #bbdefb); // Lighter underline on hover
    }

    &.activeTab {}

    &:first-child {
        text-align: left;
    }
}

.place {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.labelContainer {
    height: 100%;
    display: block;
}


.header {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0.8;
    font-size: 12px;
    color: rgb(0, 0, 0);
    // color: rgb(235, 234, 255);
    font-style: italic;
    text-align: center;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;


    &__inactive {}

    &:empty::before {
        content: '\00a0';
    }
}

.tabWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.85);


    padding: 10px 0.5rem 10px;
    // min-height: 36px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0;
        opacity: 0;
        // border-radius: 20px;
        border-bottom: 1px solid transparent;
        pointer-events: none;
        z-index: -1;
    }

    // #1976d2;

    &.active {
        border-bottom: 1px solid rgba(55, 0, 255, 0.253);


        &::before {
            opacity: 1;
        }

        & :is(.header, .tabButton) {
            color: #13579b;
            font-weight: 400;
        }

        color: white;
        font-weight: 500;
        // Bold underline for active tab
    }
}