.content {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.footer {
    // padding: 16px;
}

.header {
    height: 400px;
    transition: background 1s ease;
}

.container {
    // transition: background 1s ease;
}