@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  max-width: 1220px;
  margin: 0 auto;

  --gap-tabs: 10px;

  --brad-tab: 15px;
  --brad-category: 10px;

  --color-white: rgb(252, 255, 252);
  --color-danger: rgb(236, 0, 0);
  --color-primary: rgb(0, 140, 195);
  --color-green: rgb(76, 175, 80);
  --color-light-green: rgb(177, 255, 206);
  --color-light-green-2: rgb(222, 255, 234);
  --color-light-green-3: rgb(239, 253, 238);
  --color-light-gray: #8a8a8a;

  --box-shadow-s: -1px 2px 8px -2px rgba(0, 0, 0, 0.3);

  --width-quantity-input: 50px;

  --height-header: 55px;
}