.h1 {
    font-size: 1.8rem;
    font-weight: 300;
}

.body1 {}

.body2 {
    font-size: 0.8rem;
    /* font-size: 1rem; */
}

.caption {
    color: #8a8a8a;
    font-size: 0.8rem;
}

.h1.offset {
    /* margin-bottom: 1rem; */
    padding-bottom: 2rem;
}

.h2.offset {
    padding-bottom: 1rem;
}