.typo {
    white-space: wrap;
    position: relative;
}

.h1 {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Merriweather", serif;
}

.h2 {
    font-size: 0.9rem;
    font-weight: 400;
    font-family: "Merriweather", serif;
}

.body1 {}

.body2 {
    font-size: 0.8rem;
    /* font-size: 1rem; */
}

.caption {
    color: #8a8a8a;
    font-size: 0.8rem;
}

.h1.offset {
    /* margin-bottom: 1rem; */
    padding-bottom: 2rem;
}

.h2.offset {
    padding-bottom: 1rem;
}

.green {
    color: var(--color-green);
}

.table {
    font-size: 15px;
}

.underline {

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 2px dotted rgba(16, 81, 0, 0.55);
    }
}

.clickable {
    cursor: pointer;
}