.typo {
    white-space: wrap;
    position: relative;
}

.h1 {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    color: var(--color-gray);
}

.h2 {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Montserrat", serif;
}

.body1 {
    font-size: 15px;
}

.body2 {
    font-size: 0.8rem;
    /* font-size: 1rem; */
}

.caption {
    color: #8a8a8a;
    font-size: 0.8rem;
}

.h1.offset {
    /* margin-bottom: 1rem; */
    padding-bottom: 1.2rem;
}

.h2.offset {
    padding-bottom: 0.5rem;
}

.green {
    color: var(--color-green);
}

.green-2 {
    color: var(--color-green-2);
}

.table {
    font-size: 14px;
}

.underline {

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: -3px;
        left: 0;
        border-bottom: 2px dotted rgba(16, 81, 0, 0.4);
    }
}

.clickable {
    cursor: pointer;
}