.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    margin-bottom: 60px;
    background: linear-gradient(180deg, #ffffff 0%, #c7c7c7 95%, #dbdbdb 60%, #c4c3c3 100%);

}

.title {
    position: absolute;
    top: 0;
    left: 0;
    transform: unset;
    white-space: nowrap;
    z-index: -1;

}

.header {
    // Your existing header styles
    // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    z-index: 10;
    // height: 45px;\
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.subHeader {
    position: sticky;
    top: 0;
}

.bottom {
    z-index: 9;
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}