.container {
    position: absolute;
    // bottom: 80px;
    bottom: 0;
    left: 0;
    // transform: translateX(-100%);
    z-index: 101;
    width: calc(100dvw - 20px);

    // padding: 0 20px;
    // height: 0;


}

.content {
    // display: flex;
    // justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 140px auto 140px;
    justify-content: space-between;
}