.searchListItemWrapper {
    display: flex;
    align-items: center;
}

.listItem {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    padding: 5px 5px 5px 10px;
    border-radius: 8px;
    background: #ffffff;
    text-transform: capitalize;
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    cursor: pointer;
    transition: all 0.2s ease;
    font-family: inherit;
    height: 40px;

    &:active {
        background: rgb(215, 204, 255);
        color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }
}

.listItem_active {
    background: var(--color-deep-blue); // Light green background
    border-color: #7cb9ff50; // Green border
    color: white; // Darker green text
    font-weight: 300;

    * {
        color: white;
    }

}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;

    // Friendly typography for health app
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.after {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    color: #6b7280;
    font-size: 12px;
    font-weight: 400;
}

.before {
    color: #a5a5a5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 5px 8px 8px;

    &:active {
        color: #6b7280;
        background-color: #4b99ff;
    }
}