.action {
    font-weight: 500;
    color: rgba(63, 86, 255, 0.335);
    font-family: "Jost", sans-serif;
    font-size: 16px;
}

.info {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    color: rgb(76, 76, 76);
    font-family: "Jost", sans-serif;
    font-weight: 300;

}

.elegant {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: rgb(50, 50, 50);
}

.feature-title {
    // font-family: var(--dev-symbol-font, "Cormorant Garamond", serif);
    // font-family: "Cormorant Infant", serif;




    font-size: 90px;
    font-weight: var(--dev-symbol-weight, 200);
    font-style: var(--dev-symbol-style, normal);
    letter-spacing: -7px;
    line-height: 78px;
    color: #727272;
    text-transform: lowercase;
    display: inline-block;

    font-family: "Source Serif 4", serif;
    font-weight: 300;
    font-style: italic;
}

.feature-title-2 {
    font-family: "Source Serif 4", serif;
    font-weight: 300;
    font-style: italic;
    letter-spacing: -3px;
    font-size: 55px;
    color: #4c4c4c;

    line-height: 78px;
}

.entity-title {
    font-family: "Raleway", sans-serif;
    font-size: 2.2rem;
    font-weight: 200;
    letter-spacing: 0.02em;
    color: rgb(50, 50, 50);
    margin-left: 1rem;
}

/* applied only when ellipsis === true */
.ellipsis {
    display: block;
    min-width: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}