.row {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: text;
}

.input {
    max-width: 48px;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 13px;
    font-weight: 600;

    &::selection {
        background-color: rgb(172, 172, 172);
        color: white;
    }
}

.norm {
    opacity: 0.5;
}

.unit {
    opacity: 0.5;
}
