.dishProduct {
  position: relative;
  padding: 4px;
  border: 1px solid transparent;
  background-color: #fff;
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr 20px;
  align-items: center;
  gap: 8px;
  overflow: hidden;

  &:hover {
    /* background-color: var(--color-light-green-2); */
    /* border-color: #e2e2e2; */
  }
}

.dishProduct:hover .removeButton {
  opacity: 1;
}

.removeButton {
  opacity: 0;
}

.productName {
  z-index: 1;
  color: #333;
  width: fit-content;
  cursor: pointer;
}

.input {
  width: var(--width-quantity-input);
}

/* Skeleton Overlay */
.loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0.6) 100%);
  z-index: 0;
  animation: shimmer 1.5s infinite;
  opacity: 0.8;
  /* Adjust transparency level */
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.loading input,
.loading button {
  visibility: hidden;
}