.ScheduleBuilder {
  width: 100%;
  border: 1px solid #000;
  position: relative;
  padding: 10px;

  &__list {
    display: flex;
    flex-direction: column;

    &Item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 10px;
      border: 1px solid #0000001c;
      box-shadow: var(--box-shadow-s);
    }
  }

  &__addButton {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 50%;
  }
}
