.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    top: 0;
    left: 0;
    transform: unset;
    white-space: nowrap;
}

.header {
    // Your existing header styles
    border-bottom: 1px solid var(--border-color, #e0e0e0); // Use a CSS variable or define directly
    padding-bottom: 0;

    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    height: 50px;
}