// Эти CSS-переменные управляют внутренней анимацией Vaul.
// Можно настроить их для ускорения или замедления анимации.
// Взяты из примеров Vaul для более резкой и отзывчивой анимации.
// vaul-overlay-duration также управляет скоростью появления/исчезновения оверлея.
:root {
    --vaul-drawer-duration: 0;
    /* Общая длительность анимации Drawer */
    --vaul-overlay-duration: 280ms;
    /* Длительность анимации оверлея */
    --vaul-overlay-opacity: 0.35;
    /* Прозрачность оверлея */
}


.overlay {
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, var(--vaul-overlay-opacity));
    z-index: 5000;
    opacity: 0;
    transition: opacity var(--vaul-overlay-duration) ease-out;

    &[data-state='open'] {
        opacity: 1;
    }

    &[data-state='closed'] {
        opacity: 0;
    }
}