.container {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    // width: 100px;
}

.text {
    z-index: 2;
    color: #000000; // default text color
    transition: color 0.6s ease;
}

.invert {
    color: #38cc6e; // inverted color when circle is visible
}

.circle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    z-index: 1;
    background-color: #b3fe8d;
}