.dailyNormsListWrapper {
    display: flex;

}

.dailyNormChooseButton {
    display: flex;
    width: 50px;
    // height: 59px;
    flex-shrink: 0;
    background-color: rgb(215, 238, 250);
    font-size: 1.5rem;

    padding: 12px 24px;
    font-size: 1.5rem;
    position: relative;

    &:empty::before {
        content: '\00a0';
    }

    &.selected {
        &:after {
            inset: 0;
            content: 'X';
            position: absolute;
        }
    }

}