.removeButton {
    background: none;
    border: none;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small {
    width: 10px;
    height: 10px;
}

.medium {
    width: 14px;
    height: 14px;
}

.large {
    width: 20px;
    height: 20px;
}

.removeButton:hover {
    opacity: 0.5;
}

.gray {
    color: var(--color-light-gray);
}

.black {
    color: black;
}

.white {
    color: white;
}