.input {
    padding: 0.3rem 0.4rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    text-align: right;

    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;

    text-align: center;


    &[type='number'] {
        width: 7ch;
    }

    &:focus {
        border-color: #0070f3;
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.15);
    }
}