.active {
    color: rgb(149, 143, 255);

    &::before {
        opacity: 1;
        width: 18px;
    }

}

.noTitle {
    font-style: italic;
    opacity: 0.3;
}

.capitalize {
    text-transform: capitalize;
}