.wizardWrapper {
    height: 100%;
    flex-grow: 1;
    position: relative;
    min-height: 0;
}

.helpFocusButton {
    color: #ffffff;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    font-size: 2.5rem;
    font-weight: 200;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.02);
    font-style: italic;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border-radius: 50%;
    height: 6rem;
    min-width: 6rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0;
    margin-left: auto;
    margin-right: 1rem;
    opacity: 0.75;
    // backdrop-filter: blur(10px);
    color: black;

    transform: rotate(-5deg);

    position: absolute;
    bottom: 3rem;
    right: 1rem;

    z-index: 10;

    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.1),
        0 4px 8px rgba(255, 0, 0, 0.06),
        0 0 0 1px rgba(255, 255, 255, 0.1);

    &:hover {
        transform: translateY(-3px) scale(1.05);
        background-color: red;
        color: white;
    }

    &:active {
        transform: translateY(-1px) scale(0.98);
        box-shadow:
            0 4px 8px rgba(255, 0, 0, 0.04),
            0 2px 4px rgba(255, 0, 0, 0.02),
            0 0 0 1px rgba(255, 255, 255, 0.03);

        &::after {
            width: 40%;
        }
    }
}

.wizardWrapper:has(input:focus) .helpFocusButton {
    opacity: 0;
    transform: translate(-6rem, -6rem) rotate(-5deg);
    user-select: none;
    touch-action: none;
    bottom: 30%;
    right: 30%;
}