.container {


    display: grid;
    align-items: center;
    grid-template-columns: 1fr 250px 1fr;
    gap: 20px;
}

.title {
    font-weight: 300;
    font-size: 30px;
    line-height: 27px;

    display: flex;
    align-items: end;
    gap: 20px;
    color: lightblue;
}

.date {}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 30px;
}