.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 60px;
    height: 100%;
    width: 100%;
}

.navButton {
    height: 60px;
    width: 60px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.dateNumbers {
    font-size: 1em;
    font-weight: 300;
    color: black;
}

.dateWords {
    display: flex;
    font-size: 0.5em;
    color: rgb(255, 200, 200);
    display: flex;
    font-weight: 300;
    gap: 10px;
}