.wrapper {
    display: flex;
    width: 100%;
    top: 0;
    z-index: 100;
}

.container {
    display: flex;
    justify-content: end;
    flex-grow: 1;
    height: 70%;
    width: 100%;
    position: relative;
}

.menuButton {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 0;
}

.title {
    display: flex;
    justify-content: end;
    gap: 10px;
    // margin: 0 auto;
    flex-grow: 1;
}

.date {
    display: flex;
    flex-direction: column;
    // align-items: center;
    font-size: 25px;
    line-height: 25px;
    padding-top: 7px;
    gap: 4px;
    padding-right: 25px;
}

.dateNumbers {
    font-size: 1em;
    font-weight: 300;
    color: black;
    display: flex;
    gap: 20px;
    position: relative;
    margin-left: auto;
}

.dateWords {

    color: rgb(115, 45, 255);
    display: flex;
    font-weight: 200;
    font-style: italic;
    font-size: 15px;
    line-height: 0.8rem;
    // margin-right: 7px;


    gap: 5px;


    &Today {
        font-style: italic;
        font-weight: 200;
        position: absolute;
        top: -28px;
        left: 0;
        font-size: 1rem;
        color: rgba(141, 84, 255, 0.544);
    }
}

.swipeButtons {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
}

.swipeHint {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 4px;
    user-select: none;
    // animation: swipeHint 1.5s infinite alternate;
    margin: auto;
    width: 100%;
    flex-shrink: 0;
    font-style: italic;
    color: #fff;
}

.menuButton {
    margin: unset;
    margin-bottom: auto;
    margin-left: auto;
    width: fit-content;
    opacity: 0.1;
}

.menuNavIcon {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    color: #fff;
}

@keyframes swipeHint {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(5px);
    }
}

.buttonInMenu {
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    color: #fff;
}