.tooltipInner {
    background-color: white;
    border: 1px solid var(--color-light-gray-2);
    border-radius: var(--brad-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltipInner.small {
    padding: 4px 6px;
}


.tooltipInner.medium {
    padding: 13px 12px 14px;
}

.tooltipInner.simple {
    border-radius: 0;
    color: rgb(22, 22, 22);
    border-color: rgba(220, 220, 220, 0.44);
    box-shadow: var(--box-shadow-xs);
    font-size: 13px;
    font-weight: 400;
    padding: 10px 15px 7px 15px;
    background-color: rgba(255, 255, 255, 0.9);
    /* background: linear-gradient(90deg, rgba(80, 80, 80, 0.4) 80%, rgba(110, 110, 110, 0.5) 100%); */
    /* filter: blur(2px); */
}