.action {
    font-weight: 500;
    color: rgba(63, 86, 255, 0.335);
    font-family: "Jost", sans-serif;
    font-size: 16px;
}

.info {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    color: rgb(76, 76, 76);
    font-family: "Jost", sans-serif;
    font-weight: 300;

}

/* applied only when ellipsis === true */
.ellipsis {
    display: block;
    min-width: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}