.container {
    position: relative;
    font-size: 14px;
    color: #333;
    display: flex;
}

.trigger {
    cursor: pointer;
    padding: 6px 10px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    background-color: var(--color-white);
    color: #4CAF50;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
}

.trigger:hover {
    background-color: #4CAF50;
    color: white;
}