.container {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s;
  width: 100%;
  margin-top: auto;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

.mainButton {
  margin-right: auto;
}

.deleteButton {
  margin-left: auto;
}