.date {
    display: flex;
    // justify-content: end;
    position: relative;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 16px;
    z-index: 1;

}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
}

.title {
    position: absolute;

    left: 0;
    top: 0;
    padding: 0 0.5rem;
    z-index: 1;
    font-size: 2rem;
    // transform-origin: top left;
}

.backgroundImage {
    position: absolute;
    top: 10px;
    left: 30px;
    height: auto;
    width: 50%;
    pointer-events: none;
    user-select: none;
    z-index: 0;
    opacity: 0.1;
}