.container {
    display: flex;
    gap: 15px;
    border-radius: 10px;
}

.vertical {
    flex-direction: column;
}

.boxShadow {
    box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.45);
}

.small {
    /* padding: 0 0 20px; */
    padding: 5px;
}

.medium {
    padding: 29px 22px 15px;
}