.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
}

.title {
    position: absolute;

    left: 0;
    top: 10px;
    padding: 0 0.5rem;
    z-index: 1;
    font-size: 2rem;
    // transform-origin: top left;
}