/* Basic Styling for the List */
.category {
    min-width: 150px;
    padding: 3px 8px 8px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* transition: background-color 0.3s ease, transform 0.3s ease; */

    &:hover{
        background-color: rgb(242, 245, 252);
    }
    
}

.dish{
    display: flex;
    gap: 10px;
}


.category:hover .hoverShow {
    opacity: 0.5;
}

.removeButton {
    transition: opacity 0.2s;
    opacity: 0;
}

.removeCategoryButtonContainer {
    right: 0;

    width: 0;
    height: 0;
    transition: all 0.2s;
    margin-left: auto;
}

.name {
    width: 90%;
    display: inline-block;
    margin-right: auto;
}

.addButton {
    width: 10%;
    display: inline-block;
    margin-right: auto;

}

.active {
    border-color: blue;
}

/* .category.dragging {
    opacity: 0.3;
    border: 2px dotted blue;
    transition: transform 0.3s ease;
}


.category.hovered {
    background-color: #e0e0e0;
    border: 1px solid #999;
}


.category {
    cursor: grab;
}

.category:active {
    cursor: grabbing;
} */