.container {
    height: 100px;
    width: 100px;
    display: flex;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 200;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #0000005f;
    border: none;
    color: white;
}