.hoverTrackContainer {
    position: absolute;
    width: 100%;
    height: 6px;
    /* background-color: red; */
    z-index: var(--z-index-slider-hover-track);
}

.hoverTrack {
    position: absolute;
    height: 100%;
    background: rgba(32, 198, 46, 0.2);
    /* Example: light blue for hover effect */
    pointer-events: none;
    /* Smooth transition for hover effect */
}

.previewValue {
    font-size: 1rem;
    background-color: var(--color-white);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: var(--z-index-slider-hover-track-tooltip);

    color: var(--color-green-2);
    font-weight: 400;
    box-shadow: var(--box-shadow-s);

    padding: 2px 5px;
    border-radius: 4px;
    width: 65px;
    transform: translate(-50%, -100%);
    /* transform: translateY(50%); */
}