.container {
    width: 100%;
    transition: opacity 0.2s;
}

.label {
    margin-bottom: 10px;
    font-size: 14px;
}

.slider {
    position: relative;
    height: 4px;
    /* border: 3px solid #ffffff; */
    background: var(--color-light-green);
    border-radius: 12px;
    cursor: pointer;
}

.track {
    position: absolute;
    height: 100%;
    background: var(--color-green);
    border-radius: 3px;
}

.thumb {
    position: absolute;
    top: -7px;
    width: 18px;
    height: 18px;
    background: none;
    border-radius: 50%;
    cursor: grab;
    transform: translateX(50%);
    z-index: var(--z-index-slider-thumb);
    user-select: none;
    background: transparent;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        border: 2px solid white;
        width: 10px;
        height: 10px;
        background: var(--color-green);
        border-radius: 50%;
    }
}

.thumb:hover:after {
    background: var(--color-green);
}

.helperValues {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: var(--color-light-gray);
    user-select: none;
    padding-bottom: 3px;
}

.helperValue {
    transform: translateX(50%);
    cursor: pointer;

    &:hover {
        color: var(--color-green-2);
        text-decoration: underline;
        font-weight: 400;
    }
}