.layout {
    width: 100%;
    display: grid;
    grid-template-columns: var(--width-tabs-container) 1fr 335px;
    gap: var(--gap-layout);
    /* height: calc(100% - var(--height-header)); */
    height: 100vh;
    padding: 10px 0;
    flex-grow: 1;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    /* overflow: hidden; */
    padding-bottom: 10px;
    padding-top: 20px;
}

.left {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.right {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 10px;
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.layout.noRight {
    grid-template-columns: 160px 1fr;
    justify-content: start;
}

.overlayCenter {

    box-shadow: none;

    &::after {
        content: '';
        background-color: rgba(255, 255, 255, 0.429);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}