.overlay {
    position: fixed;
    inset: 0;
    background: #000000b3;
    z-index: 6000;

    opacity: 0.9;
    transition: opacity var(--duration-normal) var(--easing-default);

    &[data-starting-style],
    &[data-ending-style] {
        opacity: 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    .overlay {
        transition: none;
    }
}
