.overlay {
    position: fixed;
    inset: 0;
    background: #000000b3;
    z-index: 4000;

    opacity: 0.9;
    transition: opacity var(--duration-normal) var(--easing-default),
                display var(--duration-normal) var(--easing-default) allow-discrete;

    @starting-style {
        opacity: 0;
    }

    &[data-state='closed'] {
        opacity: 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    .overlay {
        transition: none;
    }
}
