.numberInput {
    width: 50px;
    padding: 2px 5px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.numberInput:focus {
    border-color: #007bff;
}