.inputWrapper {
    width: 100%;
}

.inputContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.3rem;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    overflow: hidden;

    &:focus-within {
        border: 1px solid var(--color-green);
    }

    &:hover,
    &:hover .inputElement {
        background-color: rgb(251, 251, 251);
    }
}

.before,
.after {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    color: #666;
}

.before {

    /* margin-right: 0.3rem; */
    svg {
        max-width: 100%;
        color: var(--color-green)
    }
}

.after {
    margin-left: 0.3rem;
}

.inputElement {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.3rem 0.4rem;
    color: #333;
    font-size: 1rem;

    &::placeholder {
        font-weight: 300;
    }

}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}