.dishContainer {
    height: calc(100vh - 70px);
}

.dish {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding-right: 15px;
    /* gap: 10px; */
    /* justify-content: space-between; */
    /* grid-template-columns: 1fr; */
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 150px;
        right: 0;
        height: 100%;
        width: 200px;
        box-shadow: 2px 7px 13px -1px rgba(0, 0, 0, 0.1);
        pointer-events: none;
        /* So it doesn’t block clicks */
    }

}

.dishTitle {
    padding-top: 5px;
    padding-bottom: 10px;
    /* box-shadow: 0 -5px 5px -2px rgba(0, 0, 0, 0.04); */
}

.dishNameInput {
    /* padding: 0; */
}

.dishHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.dishMain {
    display: flex;
    overflow-y: auto;
    /* overflow-x: hidden; */
    margin-top: 1rem;
}

.products {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 1rem;
    /* gap: 2px; */
    /* overflow-y: auto; */
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.mainButton {
    margin-right: auto;
}