.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.noShadow {
    box-shadow: none;
    border: none;
}

.lined {
    margin-top: 55px;

    &:first-child {
        margin-top: 0;
    }
}

.message {
    color: #c3c3c3;
    font-style: italic;
    margin-right: auto;

    &::before {
        content: "";
        display: inline-block;
        opacity: 0.15;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" version="1.1"><path d="m87.347 290.6 112.65-256.99h6.2996l106.35 256.99zm181.02-15.749-75.04-184.54-81.155 184.54z"/><script xmlns=""/></svg>');
    }
}

.uniteButton {
    font-weight: 500;
    color: rgba(63, 86, 255, 0.335);
}

.header {
    display: flex;
    justify-content: flex-end;

}