.container {
    position: relative;
}

.createText {
    font-weight: 800;
    font-size: 57px;
    line-height: normal;
    opacity: 0.04;
    text-transform: uppercase;
    white-space: nowrap;
}

.nameText {
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}