button.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: end;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;

    border: none;
    font-size: 30px;
    font-weight: 800;
    color: rgb(163, 173, 255);
    box-shadow: none;
    outline: none;
    gap: 0;

    &.active {
        border-color: rgb(103, 151, 255);
        color: rgb(48, 113, 255);
        font-size: 40px;
        font-weight: 300;
    }
}


.text {
    &.active {}
}