.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}


.container {
    overflow: hidden;
    width: 100%;
    height: calc(100% + 60px);
    position: relative;
    padding-top: 60px;
    transition: transform 0.1s;
    transform: translateY(0);

    &_full {
        transform: translateY(-60px);
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transform: translateY(0);
    transition: transform 0.1s;

    &_hidden {
        transform: translateY(-100%);
    }
}

.swipeWrapper {
    height: 100%;
    // display: flex;
    // gap: 10px;
}

.bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    gap: 20px;
    margin-bottom: 10px;

    &__tab {
        color: rgb(177, 212, 255);
        font-size: 20px;
        font-weight: 200;
        text-align: center;
        transition: transform 0.1s ease-in-out;

        &_active {
            // text-decoration: underline;
            transform: scale(1.3);
            color: rgb(114, 178, 255);
            transform-origin: bottom center;
            font-style: normal;
        }
    }
}


.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: black;
}