.container {
  width: 100%;
  // border: 1px solid #000;
  position: relative;
  padding: 10px;

  .header {
    display: flex;
    justify-content: space-between;
  }
}

.list {
  display: flex;
  flex-direction: column;


  &Item {

    &_dish {
      background-color: rgba(208, 238, 255, 0.153);
    }

    &_noShadow {
      box-shadow: none;
      border: none;
    }

    &_lined {
      margin-top: 55px;
    }

    &TopBlock {
      position: absolute;
      left: 8px;
      top: -30px;

      &_right {
        left: unset;
        right: 8px;
      }
    }

    &Message {
      color: #c3c3c3;
      font-style: italic;

      &::before {
        content: "";
        display: inline-block;
        opacity: 0.15;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" version="1.1"><path d="m87.347 290.6 112.65-256.99h6.2996l106.35 256.99zm181.02-15.749-75.04-184.54-81.155 184.54z"/><script xmlns=""/></svg>');
      }
    }

    &Time {
      width: 100px;
    }
  }
}