.searchContainer {
    position: relative;
    width: 100%;
}

.container {
    width: 100%;
    padding: 0;
    padding-bottom: 1rem;
}

.search {
    /* height: 50px; */
    width: 100%;
    /* margin: 0 auto; */
    /* margin-top: 20px; */
    padding: 10px 10px;
    font-size: 1rem;
    border: 2px solid var(--color-light-green);
    border-radius: 35px;
    caret-color: var(--color-green);

    &::placeholder {
        font-size: 1rem;
    }

    &:focus {
        border: 2px solid #bbff6d;
    }

    &:hover {
        background-color: rgb(251, 251, 251);
    }
}

.listContainer {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    z-index: var(--z-index-search-list);
    max-height: 70vh;
    /* border: 1px solid #000; */
    overflow: auto;
    box-shadow: var(--box-shadow-s);
}