.calendar {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: var(--box-shadow-s);
    /* z-index: 10; */
    padding: 18px 16px 16px;
    display: flex;
    flex-direction: column;
    /* transform: translateX(-100%); */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    /* text-transform: capitalize; */
}

.header button {
    background-color: transparent;
    border: none;
    color: #4CAF50;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.1s ease;
}

.header button:hover {
    background-color: rgba(76, 175, 80, 0.1);
}

.dayNames {
    text-transform: capitalize;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    margin-bottom: 8px;
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(7, 1fr); */
    gap: 8px;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    border: 2px solid transparent;
    cursor: pointer;
    color: #333;
    gap: 20px;
    user-select: none;
}

.day:not(.selectedDay):hover {
    border-color: var(--color-green);
    color: var(--color-green-2);
}

.selectedDay {
    /* background-color: #4CAF50; */
    border-color: var(--color-green);
    color: var(--color-green);
    font-weight: 500;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */

    &:hover {
        border-color: var(--color-light-green);
    }
}

.currentWeek {
    background-color: #e0e0e0;
    /* Light gray */
}

.otherMonthDay {
    color: #ccc;
    /* Light gray for days outside the current month */
}

.today {
    background-color: var(--color-green);
    color: var(--color-white);
}